# macOS
.DS_Store

# VSCode settings
.vscode/
settings.json

# Compiled binaries (C/C++)
*.o
*.out
*.exe
*.obj
*.a
*.so
*.dll

# Files without extension (compiled output)
client_bridge
client_tcp
server_broker
server_tcp

